/*Heading*/
.heading{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Medium*/



/*Large*/



/*End Heading*/

/*h2 row heading*/

.heading h2{
  padding: 30px 0 30px 0;
}

/*end h2 heading*/

/* button rows*/

.choice button,.choice a{
  margin: 20px 0 20px 0;
  padding-top:15px;
  padding-bottom:15px;

}

.employers{
  text-align: center;
}

/* end button rows*/
/*signup modal*/
.errorlist{
  margin-bottom: 0px;
}

.errorlist p{
  margin-bottom: 0px;
}

.form-group{
  height: 66px;
  margin-bottom: 0px;
}

.help-block p{
  margin-top: 0px;
  margin-bottom: 0px;

}

p.help-block{
  margin-top: 0px;
  margin-bottom: 0px;

}


.modal-dialog{
  margin: 30px auto;
  height: 95%;
}

.modal-content{
  height: 95%;
}
/*signup modal*/
