<%inherit file="base.htm" />



<%block name="content">

  <!-- _________________________Heading_____________________________ -->
  <div class="container">
    <div class="row">
      <form  method="post" action="/homepage/complete_profile">

      <div class="col-sm-12 question ">
        <h4>My first name is</h4>
        <div class="form-group error-handling-form">
          ${form['first']}
          <p class="help-block " id="form-errors">  ${form['first'].errors} </p>
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>and my last name is</h4>
        <div class="form-group">
          ${form['last']}
          <p class="help-block" id="form-errors"> ${form['last'].errors} </p>
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>I'm looking for</h4>
        ${form['job_or_internship']}
      </div>
      <div class="col-sm-12 question ">
        <h4>My phone number is </h4>
        <div class="form-group">
          ${form['phone_number']}
          <p class="help-block" id="form-errors"> ${form['phone_number'].errors} </p>
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>I'm a</h4>
        ${form['gender']}
      </div>
      <div class="col-sm-12 question ">
          <h4>and I'm from </h4>
        <div class="row">

        <div class="col-sm-6 col-xs-6">
          ${form['hometown']}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          ${form['state']}

        </div>
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>I'm going to school at</h4>
        <div class="form-group">
          ${form['school']}
          <p class="help-block" id="form-errors">  ${form['school'].errors} </p>
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>, and have been going there since</h4>
        <div class="form-group">
          ${form['start_year']}
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>I plan on graduating in</h4>
        <div class="form-group">
          ${form['graduation_year']}
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>Here at BYU I'm pursuing my</h4>
        <div class="form-group">
          ${form['degree']}
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>in</h4>
        <div class="form-group">
          ${form['major']}
          <p class="help-block" id="form-errors"> ${form['major'].errors} </p>
        </div>
      </div>
      <div class="col-sm-12 question ">            <h4>with a minor in</h4>
        <div class="form-group">
          ${form['minor']}
          <p class="help-block" id="form-errors">  ${form['minor'].errors}</p>
        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>While going to BYU I maintained a GPA of</h4>
        <div class="form-group" id="moneyForm">

          <div>
            <h3  id="value"></h3>

          </div>
          <div id="pips-range"class="pips-range">
            <!-- _________________________slider goes here_____________________________ -->
          </div>
          ${form['gpa']}

        </div>
      </div>
      <div class="col-sm-12 question ">
        <h4>Most people enjoy working with me because...</h4>
        <div class="form-group">
          ${form['why_im_awesome']}
          <p class="help-block" id="form-errors">  ${form['why_im_awesome'].errors} </p>
        </div>
      </div>
      <div class="col-sm-12 question ">
        <div class="form-group">
          <button class="btn btn-primary btn-block btn-lg">Submit</button>
          <p class="help-block"> </p>
        </div>
      </div>

      </form>






      <!-- _________________________end of row_____________________________ -->




    </div>
  </div>



</%block>
