<%inherit file="base.htm" />

<%block name="nav">
<!-- _________________________this bloc removes the navbar_____________________________ -->
</%block>


<%block name="content">

        <!-- _________________________Heading_____________________________ -->
        <div class="container">
          <div class="row">
            <div class="heading">
              <h1>Lure</h1>
            </div>
          </div>
          <div class="row heading">
            <div class="col-sm-12">

                <h2>The place where jobs and internships find you.</h2>

            </div>
          </div>
          <div class="row choice">
            <div class="col-sm-12 ">
              <button type="button" class="btn btn-lg btn-primary btn-block getrecruited">
                Start Getting Recruited
              </button>
            </div>
            <div class="col-sm-12">
              <a href="/homepage/login/"  class=" btn btn-lg btn-primary btn-block">
                Login
              </a>
            </div>
            <p class="col-sm-12 employers">
              Employers click <a href="#">Here</a>

            </p>
          </div>
        </div>


</%block>
